<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"> Admin Portal</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Login</a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="staffLogin">Staff Corner</a>
      </li>
    </ul>
  </div>
</nav>
<h1>Your Personal Banking Partner</h1>
<div class="card card-container">
  <h3>Login</h3>
  <br />
  <form>
    <label
      >Username:
      <input
        type="text"
        name="username"
        placeholder="Username"
        [(ngModel)]="loginRequest.username"
      /><br />
    </label>
    <label
      >Password:
      <input
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="loginRequest.password"
      />
    </label>
    <br />
    <a href="/forgotPassword">Forgot password?</a> &nbsp; &nbsp;
    <input
      type="button"
      class="btn btn-primary btn-block"
      value="Login"
      (click)="customerLogin()"
    /><br /><br />
  </form>
  Not A Customer:
  <a href="/register">Register Here</a>
</div>
