<h1>Your Personal Banking Partner</h1>
<div class="card card-container">
  <h3>Login</h3>
  <br />
  <form>
    <label
      >Username:
      <input
        type="text"
        name="username"
        placeholder="Username"
        [(ngModel)]="loginRequest.username"
      /><br />
    </label>
    <label
      >Password:
      <input
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="loginRequest.password"
      />
    </label>
    <br />
    <a href="/forgotPassword">Forgot password?</a> &nbsp; &nbsp;
    <input
      type="button"
      class="btn btn-primary btn-block"
      value="Login"
      (click)="customerLogin()"
    /><br /><br />
  </form>
  Not A Customer:
  <a href="/register">Register Here</a>
</div>
