<div class="card">
  <div class="row justify-content-center">
    <p><b>Update Customer Information</b></p>
    <div class="col-6">
      <form>
        <div>
          <label class="form-label">CustomerId </label>
          &nbsp;&nbsp;
          <input
            type="number"
            name="customerId"
            [(ngModel)]="customerId"
            readonly
          />
        </div>
        <div>
          <label class="form-label">FullName</label>
          &nbsp;&nbsp;
          <input
            type="text"
            name="fullname"
            [(ngModel)]="updateCustomerRequest.fullname"
          />
        </div>
        <div>
          <label class="form-label">Phone</label>
          &nbsp;&nbsp;
          <input
            type="number"
            name="phone"
            [(ngModel)]="updateCustomerRequest.phone"
          />
        </div>
        <div>
          <label class="form-label">PAN</label>
          &nbsp;&nbsp;
          <input
            type="number"
            name="pan"
            [(ngModel)]="updateCustomerRequest.pan"
          />
        </div>
        <div>
          <label class="form-label">AADHAR</label>
          &nbsp;&nbsp;
          <input
            type="number"
            name="aadhar"
            [(ngModel)]="updateCustomerRequest.aadhar"
          />
        </div>
        <!-- <div>
          <label class="form-label">Upload PAN</label>
          &nbsp;&nbsp;
          <input
            type="file"
            accept="image/png, image/jpeg"
            [(ngModel)]="updateCustomerRequest.panImage"
          />
        </div>
        <div>
          <label class="form-label">Upload AADHAR</label>
          &nbsp;&nbsp;
          <input
            type="file"
            accept="image/png, image/jpeg"
            [(ngModel)]="updateCustomerRequest.aadharImage"
          />
        </div> -->
        <div>
          <select
            class="form-select"
            [(ngModel)]="updateCustomerResponse.secretQuestion"
            name="question"
          >
            <option
              *ngFor="let question of securityQuestions"
              [value]="question"
            >
              {{ question }}
            </option>
          </select>
        </div>
        <div>
          <label class="form-label">Enter Answer</label>
          &nbsp;&nbsp;
          <input
            type="text"
            name="answer"
            [(ngModel)]="updateCustomerRequest.secretAnswer"
          />
        </div>
        <div>
          <button
            type="button"
            name="updateButton"
            class="btn btn-danger"
            (click)="updateCustomer()"
          >
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
