<!-- <nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" href="/staffByAccountNumber"
    >By Account Number</a
  >
  <a
    class="flex-sm-fill text-sm-center nav-link active"
    href="/staffApproveBeneficiary"
    >Approve Beneficiary</a
  >
  <a class="flex-sm-fill text-sm-center nav-link" href="/staffAccountApproval"
    >Approve Account</a
  >
  <a class="flex-sm-fill text-sm-center nav-link" href="/staffCustomerEnable"
    >Enable / Block Customer</a
  >
</nav>
<br /> -->
<table class="table caption-top table-striped table-dark">
  <caption class="text-center">
    Newly Added Beneficiary
  </caption>
  <thead style="color: #0000ff">
    <td>From Customer Name-CustomerId</td>
    <td>Beneficiary Name - AcNo</td>
    <td>Beneficiary Added Date</td>
    <td>Approve</td>
  </thead>
  <tbody>
    <tr *ngFor="let approveBeneficiary of approveBeneficiaries">
      <td>{{ approveBeneficiary.fromCustomer }}</td>
      <td>{{ approveBeneficiary.beneficiaryAccount }}</td>
      <td>
        {{ approveBeneficiary.beneficiaryAddedDate | date: "M-d-yyyy" }}
        <!-- Note: 0 is Jan and 11 is the December -->
      </td>
      <td *ngIf="approveBeneficiary.approved == 'yes'">
        <span style="background-color: #00ff00">Approved</span>
      </td>
      <td *ngIf="approveBeneficiary.approved == 'no'">
        <button type="button" (click)="onSubmit()" class="btn btn-danger">
          Approve
        </button>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
