<div class="card card-container">
  <table>
    <tr *ngFor="let account of listOfAccounts">
      <label>Account Type:</label
      >{{
        account.accountType
      }}
      <br />

      <label>Account Balance:</label
      >{{
        account.balance
      }}
      <br />
      <td>
        <label class="switch">
          <input type="checkbox" checked id="togBtn" />

          <div class="slider round"></div>
        </label>
      </td>
      <td>
        <button
          type="button"
          (click)="displayAccountDetails(account.accountNumber)"
        >
          view more
        </button>
      </td>
      <br />
      <br />
      <br />
    </tr>
  </table>
</div>
