<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"> Admin Portal</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/staffLogin">Staff Login </a>
      </li>
    </ul>
  </div>
</nav>
<div class="card">
  <form>
    <table>
      <tr>
        <td>
          <label>Username: </label>
        </td>
        <td>
          <input
            type="text"
            name="username"
            placeholder="Username"
            [(ngModel)]="signUpRequest.username"
          />
        </td>
      </tr>
      <tr>
        <td>
          <label>Full Name: </label>
        </td>
        <td>
          <input
            type="text"
            name="fullName"
            placeholder="Full Name"
            [(ngModel)]="signUpRequest.fullname"
          />
        </td>
      </tr>
      <tr>
        <td>
          <label>Password: </label>
        </td>
        <td>
          <input
            type="password"
            name="password"
            placeholder="Password"
            [(ngModel)]="signUpRequest.password"
          />
        </td>
      </tr>
      <tr>
        <td>
          <label>Confirm Password: </label>
        </td>
        <td>
          <input
            type="password"
            name="confirmPassword"
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword"
          />
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input
            type="button"
            value="Register"
            (click)="customerSignUp()"
          /><br />
        </td>
      </tr>
    </table>
  </form>
  <a href="/" align="left">Existing account? Login</a>
</div>
