<table class="table table-bordered table-hover">
  <tr>
    <td>
      <nav>
        <div class="row">
          <div class="col-sm">
            <a routerLink="/customerAddAccount" class="bg-primary text-dark"
              >Create Account</a
            ><br />
            <a routerLink="/customerAddBeneficiary">Add Beneficiary</a><br />
            <a routerLink="/customerRemoveBeneficiary">Remove Beneficiary</a
            ><br />
            <a routerLink="/customerTransfer">Transfer Money</a><br />
            <a routerLink="/customerAccountStatement">View Statement</a><br />
          </div>
        </div>
      </nav>
    </td>
    <td>
      <table>
        <thead>
          Create Account Form
        </thead>
        <tr>
          <td>
            <input type="number" placeholder="Enter Initial Deposit" />
          </td>
        </tr>
        <tr>
          <td>Select Type Of Account</td>
        </tr>
        <tr>
          <td>
            <input
              class="form-check-input"
              type="radio"
              name="accountType"
              value="SB"
            />
          </td>
          <td>
            <label>Saving Bank</label>
          </td>
        </tr>
        <tr>
          <td>
            <input
              class="form-check-input"
              type="radio"
              name="accountType"
              value="CA"
            />
          </td>
          <td>
            <label>Current Account</label>
          </td>
        </tr>
        <tr>
          <div class="text-right">
            <button type="button" (click)="onSubmit()" class="btn btn-success">
              Submit
            </button>
          </div>
        </tr>
      </table>
    </td>
  </tr>
</table>
