<table>
  <thead>
    Create Account Form
  </thead>
  <tr>
    <td>
      <input
        type="number"
        [(ngModel)]="createAccountRequest.accountBalance"
        placeholder="Enter Initial Deposit"
      />
    </td>
  </tr>
  <tr>
    <td>Select Type Of Account</td>
  </tr>
  <tr>
    <td>
      <input
        class="form-check-input"
        type="radio"
        name="accountType"
        value="SAVINGS"
        [(ngModel)]="createAccountRequest.accountType"
      />
    </td>
    <td>
      <label>Saving Bank</label>
    </td>
  </tr>
  <tr>
    <td>
      <input
        class="form-check-input"
        type="radio"
        name="accountType"
        value="CHECKING"
        [(ngModel)]="createAccountRequest.accountType"
      />
    </td>
    <td>
      <label>Current Account</label>
    </td>
  </tr>
  <tr>
    <div class="text-right">
      <button type="button" (click)="onSubmit()" class="btn btn-success">
        Submit
      </button>
    </div>
  </tr>
</table>
