<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="#" class="navbar-brand">ABC BANK</a>
  <ul class="navbar-nav mr-auto" routerLinkActive="active">
    <li class="nav-item">
      <a
        href="/customerUpdate"
        class="nav-link"
        *ngIf="isLoggedIn"
        routerLink="/customerUpdate"
      >
        Update Profile</a
      >
    </li>
  </ul>
  <ul class="navbar-nav ml-auto" *ngIf="isStaff">
    <li class="nav-item">
      <a class="nav-link" routerLink="/staffAdjustAccount">Transfer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/staffByAccountNumber"
        >By Account Number</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/staffApproveBeneficiary"
        >Approve Beneficiary</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/staffAccountApproval"
        >Approve Accounts</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/staffCustomerEnable"
        >Enable/Disable Customer</a
      >
    </li>
  </ul>

  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
    <li class="nav-item">
      <a class="nav-link">Welcome: {{ username }}</a>
    </li>
    <li class="nav-item" *ngIf="isCustomer">
      <a
        href="/customerDashboard"
        class="nav-link"
        routerLink="/customerDashboard"
        >Dashboard</a
      >
    </li>
    <li class="nav-item">
      <a href class="nav-link" (click)="logout()">LogOut</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
    <!-- <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li> -->

    <li class="nav-item active">
      <a class="nav-link" routerLink="">Login</a>
    </li>
    <div class="justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="staffLogin">Staff Corner</a>
        </li>
      </ul>
    </div>
  </ul>
</nav>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="isAdmin">
  <ul class="navbar-nav mr-auto" routerLinkActive="active">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/adminCreateStaff">Create Staff</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/adminEnableStaff">View Staff</a>
    </li>
  </ul>
</nav>

<!-- Sidebar -->
<div class="sidebar" style="width: 25%" *ngIf="isCustomer">
  <ul class="nav flex-column d-flex sidebar2 h-100">
    <div>
      <li class="nav-item">
        <a routerLink="/customerAddAccount" class="sidebar-item"
          >Create Account</a
        >
      </li>
    </div>
    <div>
      <li class="nav-item">
        <a routerLink="/customerAddBeneficiary" class="sidebar-item"
          >Add Beneficiary</a
        >
      </li>
    </div>
    <div>
      <li class="nav-item">
        <a routerLink="/customerRemoveBeneficiary" class="sidebar-item"
          >Remove Beneficiary</a
        >
      </li>
    </div>
    <div>
      <li class="nav-item">
        <a routerLink="/customerTransfer" class="sidebar-item"
          >Transfer Money</a
        >
      </li>
    </div>
    <div>
      <li class="nav-item">
        <a routerLink="/customerDashboard" class="sidebar-item"
          >View Statement</a
        >
      </li>
    </div>
  </ul>
</div>
<div *ngIf="isCustomer" style="margin-left: 25%">
  <main role="main" class="container">
    <div class="starter-template">
      <router-outlet></router-outlet>
    </div>
    <div class="text-center fixed-bottom">
      &copy; {{ today | date: "yyyy" }} &middot; All rights reserved
    </div>
  </main>
</div>
<div *ngIf="!isCustomer">
  <main role="main" class="container">
    <div class="starter-template">
      <router-outlet></router-outlet>
    </div>
    <div class="text-center fixed-bottom">
      &copy; {{ today | date: "yyyy" }} &middot; All rights reserved
    </div>
  </main>
</div>
