<!-- <nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" href="/staffAccountApproval"
    >By Account Number</a
  >
  <a
    class="flex-sm-fill text-sm-center nav-link"
    href="/staffApproveBeneficiary"
    >Approve Beneficiary</a
  >
  <a class="flex-sm-fill text-sm-center nav-link" href="/staffAccountApproval"
    >Approve Account</a
  >
  <a class="flex-sm-fill text-sm-center nav-link" href="/staffCustomerEnable"
    >Enable / Block Customer</a
  >
</nav>
<br /> -->

<form class="card">
  <div class="form-group">
    <label>From Account :</label>
    <input
      type="number"
      class="form-control"
      id="fromAccNumber"
      name="fromAccNumber"
      placeholder="From Account Number"
      min="1"
      [(ngModel)]="transferRequestStaff.fromAccount"
    />
  </div>
  <br />
  <div class="form-group">
    <label>To Account: </label>
    <input
      type="number"
      class="form-control"
      id="toAccNumber"
      name="toAccNumber"
      placeholder="To Account Number"
      [(ngModel)]="transferRequestStaff.toAccount"
    />
  </div>
  <br />
  <div class="form-group">
    <Label>Amount: </Label>
    <input
      type="number"
      class="form-control"
      id="Amount"
      name="Amount"
      placeholder="Amount"
      [(ngModel)]="transferRequestStaff.amount"
    />
  </div>
  <br />
  <div class="form-group">
    <Label>Reason: </Label>
    <input
      type="text"
      class="form-control"
      id="Reason"
      name="Reason"
      placeholder="Remarks"
      [(ngModel)]="transferRequestStaff.reason"
    />
  </div>
  <br />
  <button type="submit" (click)="onSubmit()" class="btn btn-primary">
    Transfer
  </button>
</form>
