<table
  class="table-bordered table-hover container justify-content-center"
  style="max-width: 65%"
  align="left"
>
  Select From Account:
  <thead>
    <td>Ac No</td>
    <td>Balance</td>
    <td>Ac Type</td>
    <td>Select</td>
  </thead>
  <tr *ngFor="let account of accounts">
    <td>{{ account.accountNumber }}</td>
    <td>{{ account.balance }}</td>
    <td>{{ account.accountType }}</td>
    <td>
      <input class="form-check-input" type="radio" name="fromAccount" />
    </td>
  </tr>
  <tr>
    <label>Select To Account</label>
  </tr>
  <tr>
    <td>
      <select class="form-select">
        <option
          *ngFor="let beneficiary of beneficiaries"
          value="beneficiary.beneficiaryAccountNo"
        >
          {{ beneficiary.beneficiaryName }} :
          {{ beneficiary.beneficiaryAccountNo }}
        </option>
      </select>
    </td>
    <td>
      <input
        type="number"
        class="form-control"
        name="amount"
        placeholder="Amount"
      />
    </td>
  </tr>
  <tr>
    <td>
      <input
        type="text"
        class="form-control"
        name="reason"
        placeholder="Reason"
      />
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button type="submit" class="btn btn-primary">Submit</button>
    </td>
  </tr>
</table>
