<form>
  <label>Username: </label>
  <input
    type="text"
    name="username"
    placeholder="Username"
    [(ngModel)]="username"
  />
  <input type="button" value="Get Question" (click)="getQuestion()" /><br />
  <label>Question:{{ question }} </label><br />
  <input
    type="text"
    name="answer"
    placeholder="Enter Answer"
    [(ngModel)]="answer"
  /><br />
  <input
    type="button"
    value="Check Details"
    (click)="checkDetails()"
  /><br /><br />
</form>
<a href="/">"Back to login"</a>